.footer{
	color: black;
	width: 100%;
	list-style: none;
	display:flex;
	background-color: #79B4B7	;
	margin-top: 50px;
}

.footer-2{
	display: inline-flex;
	flex-flow: wrap row;
	margin-left: 450px;
	margin-right: 300px;
	
}

.footer img{
	filter: brightness(2.5);
	mix-blend-mode: multiply;
}
.footer p{
	margin-left: 20px;
}