body{
	background-color: 	;
	font-family: Arial, Helvetica, sans-serif;
	color: #E4DFDF;
}

.barra{
	background-color: 	#79B4B7;
	text-align: 		center;
}

.barra ul{
	list-style: none;
	margin: 			0;
	padding: 			0;
	font-size: 			20px;
}
.barra ul li{
	display:			inline-flex;
}

.barra ul li a{
	color: 				white;
	display: 			block;
	padding: 			15px 60px ;
	text-decoration: 	none;
}

.barra  ul li a:hover{
	background-color: 	white;
	color: 				black;
}

.letras{
	background-color: 	red;

}

